name: Build, Push and Deploy Docker Images for TODO-APP FRONTEND AND BACKEND

on:
  push:
    branches:
      - master
      - patch-1
  pull_request:

env:
  DOCKERHUB_USERNAME: tomiwadevops

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      frontend_image: ${{ steps.meta-frontend.outputs.tags }}
      backend_image: ${{ steps.meta-backend.outputs.tags }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Docker image metadata
        id: meta-frontend
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKERHUB_USERNAME }}/todo-app-frontend
          tags: |
             type=sha

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./todo-app-frontend
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-frontend.outputs.tags }}
          annotations: ${{ steps.meta-frontend.outputs.annotations }}
          provenance: true
          sbom: true

      - name: Extract Docker image metadata
        id: meta-backend
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKERHUB_USERNAME }}/todo-app-backend
          tags: |
             type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./todo-app-backend
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-backend.outputs.tags }}
          annotations: ${{ steps.meta-backend.outputs.annotations }}
          provenance: true
          sbom: true

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
    
      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy Docker image to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_INSTANCE_IP }} << EOF
            set -e

            docker pull ${{ needs.build.outputs.backend_image }}
            docker pull ${{ needs.build.outputs.frontend_image }}

            docker stop todo-backend todo-frontend || true
            docker rm todo-backend todo-frontend || true

            docker run -d \
              --name todo-backend \
              -p 5000:5000 \
              ${{ needs.build.outputs.backend_image }}

            docker run -d \
              --name todo-frontend \
              -p 3000:3000 \
              ${{ needs.build.outputs.frontend_image }}
          EOF
